mixin ampAd(width, height, pos, location, layout)
    - var tagsDetails = entity.tagsDetails || [];
    - var keywords = tagsDetails.map(function(tag){return tag.fullName});
    - var nodeType = entity.nodeType.toLowerCase();
    - var adLocation = "amp_" + nodeType + "_" + location + "_" + pos;
    -
        var adJson = {
            targeting: {
                pos: pos.toString(),
                pageId: entity.id,
                adlocation: adLocation,
                pagetype: nodeType,
                brand: entity.brand,
                kw: keywords,
                amp: "true"
            }
        };
    - var env = locals.config.ads.targets.env;
    - if (env) adJson.targeting.env = env;
    amp-ad(
        width=width
        height=height
        type="doubleclick"
        layout=(layout ? layout : "responsive")
        data-slot="/13534306/"+locals.config.site.adTaggingId+entity.parentUrl
        json=adJson
    )&attributes(attributes)
