- var singleQuoteRE = /'/g;
- var pageName = headerMetaData.pageName.replace(singleQuoteRE, '\\\'');
- var authorProfiles = entity.authorProfiles ? entity.authorProfiles : [];
- var authorNames = authorProfiles.map(function(profile) { return profile.name });
- var authorName = authorNames.join(', ').replace(singleQuoteRE, '\\\'');
- var tags = entity.tags ? entity.tags : [];
- tags = JSON.stringify(tags);
- var breadcrumbs = headerMetaData.breadcrumbs ? headerMetaData.breadcrumbs : [];
- var breadcrumbNames = [];
- breadcrumbs.map(function(breadcrumb) { breadcrumbs.push(breadcrumb.name) });
- breadcrumbNames = JSON.stringify(breadcrumbNames);

- var contentSource = "Now To Love";
case entity.brand
    when 'aww'
        - contentSource = "AWW";
    when 'wd'
        - contentSource = "Woman\'s Day";
    when 'gh'
        - contentSource ='Good Health';
    when 'ok'
        - contentSource = 'OK Magazine';
    when 'nw'
        - contentSource = 'NW';
    when 'take5'
        - contentSource = 'Take5';
    when 'yours'
        - contentSource = 'Yours';
    when 'mb'
        - contentSource = "Mother and Baby";
    when 'tvweek'
        - contentSource = 'TV Week'

amp-analytics(type="googleanalytics")
    script(type="application/json").
        {
            "extraUrlParams" : {
                cd1: "#{authorName}",
                cg1: "#{authorName}",
                cg2: "#{contentSource}",
                cg3: "#{entity.nodeType}",
                cg5: "#{headerMetaData.GroupingCategory}"
            }
            "vars": {
                "account": "#{locals.config.ga.id}"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview",
                    "vars": {
                        "pageInstanceID": "#{headerMetaData.googleTagManagerMasthead}:#{section.id}:#{headerMetaData.googleTagManagerEnvironment}",
                        "page": {
                            "pageInfo": {
                                "pageId": "#{entity.id}",
                                "pageName": "#{pageName}",
                                "issueDate": "#{entity.dateCreated}",
                                "sysEnv": "#{headerMetaData.googleTagManagerEnvironment}",
                                "dateCreated": "#{entity.dateCreated}",
                                "author": "#{authorName}",
                                "breadCrumbs": #{breadcrumbNames}
                            },
                            "category": {
                                "groupingCategory": "#{headerMetaData.GroupingCategory}",
                                "pageType": "#{entity.nodeType}",
                                "masthead": "#{headerMetaData.googleTagManagerMasthead}",
                                "tags": #{tags}
                            }
                        }
                    }
                }
            }
        }
