amp-iframe(
    width="480"
    height="270"
    sandbox="allow-scripts allow-same-origin"
    allowfullscreen
    layout="responsive"
    frameborder="0"
    src="https://giphy.com/embed/"+item.content.id+"?html5=true"
)
