include admixin

<!doctype html>
html(⚡ lang="en")
    head
        meta(charset='utf-8')
        title #{entity.title} | #{locals.config.site.name}
        link(rel="icon" href="/assets/favicon.ico")
        link(rel="canonical" href=locals.config.site.host + entity.url)

        meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
        include schema
        include boilerplate
        style(amp-custom)
            include style.css
        include ampScripts

    body
        include gaPageView
        amp-sidebar(
            id='sidebar'
            layout='nodisplay'
            side='left'
        )
            button(on='tap:sidebar.close')
                svg(xmlns='http://www.w3.org/2000/svg' 'xmlns:xlink'='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid' width='22' height='22' viewBox='0 0 22 22')
                    path(d='M12.757,10.979 C12.757,10.979 21.608,19.830 21.608,19.830 C22.099,20.321 22.099,21.117 21.608,21.607 C21.117,22.098 20.322,22.098 19.831,21.607 C19.831,21.607 10.980,12.756 10.980,12.756 C10.980,12.756 2.129,21.607 2.129,21.607 C1.639,22.098 0.843,22.098 0.352,21.607 C-0.138,21.117 -0.138,20.321 0.352,19.830 C0.352,19.830 9.203,10.979 9.203,10.979 C9.203,10.979 0.352,2.129 0.352,2.129 C-0.138,1.638 -0.138,0.843 0.352,0.351 C0.843,-0.139 1.639,-0.139 2.129,0.351 C2.129,0.351 10.980,9.202 10.980,9.202 C10.980,9.202 19.831,0.351 19.831,0.351 C20.322,-0.139 21.117,-0.139 21.608,0.351 C22.099,0.843 22.099,1.638 21.608,2.129 C21.608,2.129 12.757,10.979 12.757,10.979 Z' id='path-1' class='cls-2' fill-rule='evenodd')
            ul
                li
                    a(href='/') Home
                - var navItems = (hamburgerNavigation && hamburgerNavigation.items) || []
                each navItem in navItems
                    li
                        a(href=navItem.url)= navItem.name
        div(class="site-logo")
            button(on='tap:sidebar.open')
                svg(xmlns="http://www.w3.org/2000/svg" 'xmlns:xlink'="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="20" viewBox="0 0 20 20")
                    path(d="M-0.006,16.994 C-0.006,16.994 -0.006,13.996 -0.006,13.996 C-0.006,13.996 20.006,13.996 20.006,13.996 C20.006,13.996 20.006,16.994 20.006,16.994 C20.006,16.994 -0.006,16.994 -0.006,16.994 ZM-0.006,6.995 C-0.006,6.995 20.006,6.995 20.006,6.995 C20.006,6.995 20.006,9.995 20.006,9.995 C20.006,9.995 -0.006,9.995 -0.006,9.995 C-0.006,9.995 -0.006,6.995 -0.006,6.995 ZM-0.006,-0.005 C-0.006,-0.005 20.006,-0.005 20.006,-0.005 C20.006,-0.005 20.006,2.995 20.006,2.995 C20.006,2.995 -0.006,2.995 -0.006,2.995 C-0.006,2.995 -0.006,-0.005 -0.006,-0.005 Z" id="path-1" class="cls-2" fill-rule="evenodd")
            a(href="/")
                amp-img(src="/assets/images/now-logo-white.svg" layout="fixed" alt="Now To Love" height="50" width="207")

        +ampAd(728, 90, 1)(
            data-multi-size="320x50"
            data-multi-size-validation="false"
        )
        amp-sticky-ad(layout="nodisplay")
            +ampAd(320, 50, 2, "fixed")

        article(class="article")
            header(class="article__header")
                div(class="article-header-source")
                    - var brand;
                    - locals.config.brands.uniheader.map(function(item) {
                    -     if (item.title === entity.source) brand = item;
                    - });
                    - if (brand) {
                        a(href=brand.url class="gtm-brandlogotop-article")
                            amp-img(src=brand.imageUrl layout="fixed-height" height="35")
                    - }
                h1(class="article__title" itemProp="headline") #{entity.title}
                span(itemProp="description")
                    p(class="article__summary") #{entity.summary}
                span(class="article__date-created")= locals.formatDateCreated(entity.dateCreated, locals.config.site.dateTimeFormat)
            figure
                amp-img(
                    src=entity.imageUrl
                    layout="responsive"
                    alt=entity.imageAltText
                    height=574
                    width=690
                )

            include contentBody

            footer(class="article__footer")
                section(class="article__tags")
                    span(class="tags__title")= "Related Tags: "
                        ul(class="related-tags")
                            - var tagsDetails = entity.tagsDetails || []
                            each tag, index in tagsDetails
                                - var separator = index < tagsDetails.length - 1 ? ', ' : '';
                                li
                                    a(href="/tags/"+tag.urlName class="gtm-taglink "+ tag.urlName)= tag.displayName
                                    |#{separator}
                div(class="social-share")
                    amp-social-share(
                        type="facebook"
                        width="60"
                        height="44"
                        data-param-text=entity.title
                        data-param-app_id=locals.config.services.faceBookAppID
                    )
                    amp-social-share(
                        type="pinterest"
                        width="60"
                        height="44"
                    )
        footer(class="footer")
            nav(class="footer__navigation" role="contentinfo")
                ul
                    li
                        a(href="http://www.bauer-media.com.au/privacy" target="_blank") Privacy Policy
                    li
                        a(href="http://www.bauer-media.com.au/advertising/advertise-with-us" target="_blank") Advertise
                    li
                        a(href="http://www.bauer-media.com.au/terms/website-terms" target="_blank") Terms of Use
                    li
                        a(href="/contact-us") Contact Us
            div(class="footer__copyright")
                span © Copyright Bauer Media Pty Ltd All Rights Reserved
