div(class="content-body__related-content related-content")
    h2(class="related-content__heading") Read this next
    div(class="related-content__wrapper")
        ul(class="related-content__items")
            each relatedItem in item.content
                li(class="feed-item")
                    a(class="teaser__image" href=relatedItem.url)
                        span(class="gtm-related-link")
                            amp-img(
                                src=relatedItem.imageUrl+"?width384&height=216&mode=crop&quality=75"
                                layout="responsive"
                                alt=relatedItem.imageAltText
                                height=106
                                width=189
                            )
                    a(class="feed-item__body-title gtm-related-link" href=relatedItem.url)= relatedItem.title
