- var siteUrl = locals.fixUrlProtocol(entity.siteUrl);
- var pageDescription = headerMetaData.pageDescription || '';
- var escapedDescription = pageDescription.replace(/"/g, '\\"');
- var pageTitle = headerMetaData.title || '';
- var escapedHeadline = pageTitle.replace(/"/g, '\\"');
- var authorProfiles = entity.authorProfiles ? entity.authorProfiles : [];
- var authorNames = authorProfiles.map(function(profile) { return profile.name });
- var authorName = authorNames.join(', ').replace(singleQuoteRE, '\\\'');
- var imageFacebook = entity.imageFacebookUrl || {};
- var socialImageUrl = imageFacebook.url || entity.imageUrl || locals.config.defaultImageUrl || '';
- socialImageUrl = socialImageUrl ? socialImageUrl + '?width=600&height=315&quality=75&mode=crop' : '';

script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "url": "#{locals.fixUrlProtocol(entity.siteUrl)}",
        "@type": "Article",
        "headline": "!{escapedHeadline} | #{locals.config.site.name}",
        "description": "!{escapedDescription}",
        "publisher": {
            "@type": "Organization",
            "name": "Now To Love",
            "logo": {
                "@type": "ImageObject",
                "url": "#{locals.fixUrlProtocol(entity.siteUrl + '/assets/logos/NowToLove.png')}",
                "height": 60,
                "width": 600
            }
        },
        "author": {
            "@type": "Person",
            "name": "#{authorName}"
        },
        "image": {
            "@type": "ImageObject",
            "url": "!{locals.fixUrlProtocol(socialImageUrl)}",
            "height": 800,
            "width": 800
        },
        "datePublished": "#{entity.dateCreated}",
        "dateModified": "#{entity.dateModified}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "#{siteUrl}"
        }
    }
