- var pageDescription = headerMetaData.pageDescription || '';
- var escapedDescription = pageDescription.replace(/"/g, '\\"');
- var pageTitle = headerMetaData.title || '';
- var escapedHeadline = pageTitle.replace(/"/g, '\\"');

script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "@type": "VideoObject",
        "description": "!{escapedDescription}",
        "publisher": {
            "@type": "Organization",
            "name": "Now To Love",
            "logo": {
                "@type": "ImageObject",
                "url": "#{locals.fixUrlProtocol(entity.siteUrl + '/assets/logos/NowToLove.png')}",
                "height": 60,
                "width": 600
            }
        },
        "name": "!{escapedHeadline} | #{locals.config.site.name}",
        "thumbnailUrl": "#{locals.fixUrlProtocol(entity.video.properties.videoConfiguration.thumbnailUrl)}",
        "uploadDate": "#{entity.dateCreated}",
        "playerType": "HTML5 Flash"
    }
