amp-brightcove(
    data-account=locals.config.brightcove.accountId
    data-player=locals.config.brightcove.playerId
    data-embed="default"
    data-video-id=item.content.id
    layout="responsive"
    width="480"
    height="270"
)
